// colors
$white: #ffffff;
$gray1: #c2c2c2;
$gray2: #ddd;
$orange: #ea7b00;
$green1: #49e649;
$green2: #0C0;
$red: #ff0000;

// other
$borderRadius: 3px;
$bigFontSize: 20px;
$componentMargin: 20px;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .app {
    width: 500px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border: solid 1px $gray2;
    border-radius: $borderRadius;

    .form-header {
      font-weight: bold;
      font-style: italic;
      border-bottom: 2px solid $gray2;
      margin-bottom: $componentMargin;
      font-size: $bigFontSize;
      padding-bottom: 3px;
    }

    form {
      label {
        position: relative;
        display: block;
        margin-bottom: $componentMargin;

        .label {
          width: 150px;
          float: left;
          padding-right: 5px;
          padding-top: 7px;
          font-weight: bold;
        }

        .required,
        .required-message {
          color: $red;
        }

        .required-message {
          position: absolute;
          right: 0;
          top: 7px;
        }

        input,
        select {
          box-sizing: content-box;
          width: 175px;
          padding: 7px;
          outline: none;
          border: 1px solid $gray1;
          border-radius: $borderRadius;

          &[type="number"] {
            width: 45px;
          }

          &:focus {
            border: 1px solid $green2;
          }
        }
      }

      .submit {
        display: flex;
        justify-content: center;

        button {
          background: $orange;
          outline: none;
          color: $white;
          cursor: pointer;
          font-size: $bigFontSize;
          border: none;
          border-radius: $borderRadius;
          padding: 10px;

          &:disabled {
            cursor: default;
            background: $gray1;
          }
        }
      }
    }

    .success {
      height: 50px;
      line-height: 50px;
      text-align: center;
      background-color: $green1;
      color: $white;
      border-radius: $borderRadius;
      margin-top: $componentMargin;
    }
  }
}